{% extends 'post/main.html' %}

{% block main_section %}
        <div  class='alert alert-light'>
                <a href="{% url 'post-home' %}">Вернуться назад</a>
              
               

                <div class='correctText'><h1>{{ post.title }}</h1></div>
                <div class='correctText'><p>{{ post.text }}</p></div>
                
                <img  style="width:500px; height:400px;"  src="{{post.img.url}}">
                <div class ='row'>
                        <div>
                                {% if post.author.profile.img %}
                                        <img src="{{post.author.profile.img.url}}"   alt="{{post.author}}" class="user_image">
                                {% else %}
                                        <img src="pictures/default.jpg" alt="{{post.author}}" class="user_image">
                                {% endif %}
                                </div>
                        <div class='mt-2'>
                                <span class='text-muted'>Публикация: {{ post.date|date:'d E Y в H:i:s' }}</span>
                                <p><b>Автор: </b><mark>{{ post.author }}</mark></p>
                        </div>
                </div>
                
                {% if post.author == user %}
                <hr>
                <a href='{% url "post-update" post.id %}' class='btn btn-info'>Обновить пост</a>
                <a href='{% url "post-delete" post.id %}' class='btn btn-danger'>Удалить пост</a>
                {% endif %}
                
                <br><br><br><h2>Comments ({{comments.count}}) <hr></h2><br><br>
                

                {% for data in comments %}
                       
                
                <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{data.user.profile.img.url}}" class="img img-rounded img-fluid"/>
                                        </div>
                                        <div class="col-md-10">
                                                
                                            <p>
                                                        <!-- Bu hissede  data, queryset tipindedi
                                                        ona gore == ile adi string nen muqahise ede bilmedim -->
                                                        {% if data.rating|slugify|length == 7 %}
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        {% endif %}

                                                        {% if data.rating|slugify|length == 4 %}
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star "></span>
                                                        {% endif %}

                                                        {% if data.rating|slugify|length == 6 %}
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star "></span>
                                                        <span class="fa fa-star "></span>
                                                        {% endif %}

                                                        {% if data.rating|slugify|length == 3 %}
                                                       
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star "></span>
                                                        <span class="fa fa-star "></span>
                                                        <span class="fa fa-star "></span>
                                                        {% endif %}

                                                        {% if data.rating|slugify|length == 8 %}
                                                        <span class="fa fa-star checked"></span>
                                                        <span class="fa fa-star "></span>
                                                        <span class="fa fa-star "></span>
                                                        <span class="fa fa-star "></span>
                                                        <span class="fa fa-star "></span>
                                                        {% endif %}

                                                           
                                                        <br>
                                                        <a class="float-left" href="{{data.profile.img.url}}"><strong>{{data.user}}</strong> </a>
                                                        
                                           </p>
                                           <div class="clearfix"></div>
                                            <p>{{data.content}}</p>
                                            <!-- <p>
                                                <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                                           </p> -->
                                        </div>
                                    </div>
                                    
                                        <div class="card card-inner">
                                                <div class="card-body">
                                                        {% for reply in data.replies.all %}
                                                        <div class="row">
                                                                <div class="col-md-2">
                                                                        <img src="{{reply.user.profile.img.url}}" class="img img-rounded img-fluid"/>
                                                                </div>
                                                                <div class="col-md-10">
                                                                        <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{reply.user}}</strong></a></p>
                                                                        <p>{{reply.content}}</p>
                                                                        <p>
                                                                                <a class="float-right ml-2">  {{reply.timestamp|date:'d E Y в H:i:s'}}</a>
                                                                        </p>
                                                                </div>
                                                        </div>
                                                        <hr>
                                                        {% endfor %}
                                                        <div class="widget-area no-padding blank">
                                                                        <div class="status-upload">
                                                                                        <form method='POST'>
                                                                                                        {% csrf_token %}
                                                                                                        <input type='hidden' name='comment_id' value='{{ data.id }}'>
                                                                                                        {{ reply_form.as_p}}
                                                                                                                
                                                                                                        <!-- {{ comment_form.rating}} -->
                                                                                                        
                                                                                                        <button type="submit" name='comment' class="btn btn-success green"><i class="fa fa-share"></i> Add</button>
                                                                                                </form>
                                                                        </div><!-- Status Upload  -->
                                                                </div><!-- Widget Area -->
                                                </div>
                                        </div>
                                </div>
                            </div>
                            
                {% endfor %}
                        {% if user.is_authenticated %}
                            <div class="container">
                                        <br><br><br><br>
                                        <div class="row">
                                                <h3>Post a comment</h3>
                                        </div>
                                        <hr>
                                    
                                    <div class="row">
                                                
                                        <div class="col-md-6">
                                        
                                                <div class="widget-area no-padding blank">
                                                        <div class="status-upload">
                                                                <form method='POST'>
                                                                        {% csrf_token %}
                                                                        {{ comment_form.as_p}}
                                                                                
                                                                        <!-- {{ comment_form.rating}} -->
                                                                        
                                                                        <button type="submit" name='comment' class="btn btn-success green"><i class="fa fa-share"></i> Add</button>
                                                                </form>
                                                        </div><!-- Status Upload  -->
                                                </div><!-- Widget Area -->
                                        
                                        </div>
                                        
                                    </div>
                                    <br><br><br><br>
                                </div>
                        {% else %}<br><br><br>
                        <div class="row">
                                        
                                        <h3>Please log in to post a comment</h3>
                                
                        </div>
                        <br><br><br>
                        {% endif %}
        </div>
{% endblock main_section %}